<mat-toolbar>
  <mat-toolbar-row>
   
      <div class="imgcontainer">
          <img src="assets\img\sap.png"  alt="Avatar" class="avatar">  
          <mat-icon style="margin-left:30px; color:black;" >dashboard</mat-icon>        
     </div>
          
     <div class="toolbar-heading" style="color: black;">Post Incident Review </div>

    <div style="position: absolute; top: 0; right: 0; display: flex; align-items: center;">
      <mat-icon style="color: black;">account_circle</mat-icon>
    
        <span style="color:black; font-size:13px;" >Hey,Abhishek Jain</span>
        

      <div class="notification-button">
        <button mat-button class="menu-button notification no-shadow" (click)="Notification()">
          <mat-icon style="color: red;">notifications</mat-icon>
          <span style="color: red;" [innerHTML]=""></span>
        </button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container class = "tp-container">
  <mat-sidenav #sidenav="matSidenav" mode = "side" opened >
      
      <section class = "tp-section">    
      <button mat-button class="menu-button"  (click)="homeButtonClicked()">
          <mat-icon >insert_drive_file</mat-icon>
          <span >Records</span>
      </button>
      </section>

      <mat-divider></mat-divider>
    
      <section class = "tp-section">
      <button mat-button class="menu-button" (click)="OpenButtonClicked()">
          <mat-icon>alarm</mat-icon>
          <span>Breach</span>
      </button>
      </section>
       
      
      <mat-divider></mat-divider>
    
       
      <section class = "tp-section">
      <button mat-button class="menu-button" (click)="closedButtonClicked()">
          <mat-icon>alarm_off</mat-icon>
          <span>Warning</span>
      </button>
      </section>
     
    <!--  
      <mat-divider></mat-divider>
    
      <section class = "tp-section" (click)="Logout()">
      <mat-icon>exit_to_app  </mat-icon>
      <span style='margin-right:1.25em; display:inline-block;'>&nbsp; Logout</span>
      </section>    
      <mat-divider></mat-divider>
    -->
  </mat-sidenav>


  <mat-sidenav-content >
        <div class="input-container">
          <label for="start-date">Start Date:</label>
          <input type="date" id="start-date" [(ngModel)]="startDateInput">
        </div>
        
        <div class="input-container">
          <label for="end-date">End Date:</label>
          <input type="date" id="end-date" [(ngModel)]="endDateInput">
          <button (click)="fetchDate()" class="search-button">
            <mat-icon>search</mat-icon>
            Search
          </button>
        </div>
    
      
      <div *ngIf="homeTabClicked">
          <app-user></app-user>
      </div>

     
      <div *ngIf=" openTabClicked">
          <app-open-user-component></app-open-user-component>
      </div>

      <div *ngIf="closedTabClicked">
          <app-closed-user></app-closed-user>
      </div>

      <div *ngIf="notification">
        <app-user></app-user>
    </div>
      
  </mat-sidenav-content>
</mat-sidenav-container>
