<div class="container">
    <div class="card">
      <div class="card-body">
       <table class="table table-striped">
          <thead>
               <th>OutageName</th>
               <th>Date and Time</th>
               <th>Outage Started By Person</th>
               <th>TTR Breached </th>
               <th>TTI Breached</th>
               <th>Status</th>
          </thead> 
          <tbody>
            <ng-container *ngFor="let user of users">        
            <tr *ngIf="user.status===statusNow">
             <td>{{user.outageName}}</td>
             <td>{{user.IncidentDateTime}}</td>
             <td>{{user.reporterBy}}</td>
             <td *ngIf="user.timeToResolve>40; else NoTTR">{{"Yes"}}</td>
             <ng-template #NoTTR>
              <td>{{"No"}}</td>
             </ng-template> 
             <td *ngIf="user.timeToFirstAnnouncement>15; else NoTTI">{{"Yes"}}</td>
             <ng-template #NoTTI>
              <td>{{"No"}}</td>
             </ng-template> 
             <td>{{user.status}}</td>
           </tr> 
          </ng-container>
         </tbody>
       </table>
      <div> 
    </div>
   </div>
   
